@page "/processing/new"
@using OcsStore.Models
@model OcsStore.Pages.NewProcessingModel
@{
    string outputItemCssColor = (Model.Item.ItemType == Item.Product ? "blue" : "brown");
}
<style>
    #main-grid .dx-header-row {
        font-size: 0.9rem;
    }

    #main-grid .dx-widget {
        font-size: 0.9rem;
    }

    #main-grid .delete-button .dx-button-content {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    #main-grid .dx-button-content .dx-icon-trash {
        margin-right: 2px;
    }
    #main-grid .dx-toolbar-items-container {
        display: none;
    }
</style>

<div id="top-section">
    <div class="d-flex mb-3">
        <div class="data-field">
            <div class="field-title">Ngày:</div>
            @(Html.DevExtreme().DateBox()
                .ID("dateBox")
                .Width("12rem")
                .Height("2rem")
                .InputAttr("aria-label", "Date")
                .Type(DateBoxType.Date)
                .Value(DateTime.Today)
                .DisplayFormat("dd/MM/yyyy")
                .OnValueChanged("dateChanged")
                .DropDownOptions(o => o.Position(p => p.Of("#dateBox").At(HorizontalAlignment.Left, VerticalAlignment.Bottom).My(HorizontalAlignment.Left, VerticalAlignment.Top).Offset(0, 2)))
            )
        </div>
        <div class="ms-3">
            <div class="field-title">Giờ:</div>
            @(Html.DevExtreme().DateBox()
                .ID("timeBox")
                .Width("8rem")
                .Height("2rem")
                .Type(DateBoxType.Time)
                .Value(DateTime.Now)
                .DisplayFormat("HH:mm")
            )
        </div>
    </div>

    <div class="d-flex mb-3">
        <div>
            <div class="field-title">@(Model.Item.GroupName):</div>
            @(
            Html.DevExtreme().SelectBox()
                .ID("itemSelectBox")
                .DataSource(d => d.Mvc().Controller("Item").LoadAction("GetItemViews").LoadMethod("POST").LoadParams(new { GroupId = Model.Item.Group }).Key("Id"))
                .Width("12rem")
                .Height("2rem")
                .DisplayExpr("Name")
                .ValueExpr("Id")
                .OnValueChanged("outputItemValueChanged")
                .ItemTemplate(@<text> <div><span class="@(outputItemCssColor) me-2">●</span><%- Name %></div> </text>)
                .FieldTemplate(@<text>
                    <div class="d-flex ps-1 pt-1 pe-2">
                        <div class="@(outputItemCssColor) ms-2">●</div>

                        @(Html.DevExtreme().TextBox()
                            .Height("1.3rem")
                            .Value(new JS("typeof Name !== 'undefined' ? Name : ''"))
                            .ReadOnly(true)
                            .ElementAttr("class", "inner-text-field")
                        )

                        @* <div class="ms-auto" style="margin-top: 1px;"><i class="dx-icon-chevrondown" style="font-size: 0.8rem;"></i></div> *@
                    </div>
                 </text>)
                .Value(Model.ItemId)
                .DropDownOptions(o => o.Position(p => p.Of("#itemSelectBox").At(HorizontalAlignment.Left, VerticalAlignment.Bottom).My(HorizontalAlignment.Left, VerticalAlignment.Top).Offset(0, 2)))
            )
            <span id="processing-desc"></span>
        </div>
        <div class="ms-3">
            <div class="field-title">Số lượng:</div>
            <div class="custom-textbox-wrapper">
                @(Html.DevExtreme().NumberBox()
                    .ID("quantityNumberBox")
                    .Width("8rem")
                    .Height("2rem")
                    .Format("#,##0.00")
                    .Min(0)
                    .Max(10000)
                    .ShowSpinButtons(false)
                    .ElementAttr("class", "align-right-numberbox")
                    .InputAttr(new { @class = "has-suffix" })
                    .OnFocusIn("onNumberBoxFocusIn")
                )
                <span class="textbox-suffix">@(Model.Item.UnitName)</span>
            </div>
        </div>
    </div>
</div>
@(
Html.DevExtreme().DataGrid<ProcessingInputView>()
    .ID("main-grid")
    .DataSource(d => d.Mvc().Controller("Processing").LoadAction("GetNewDetails").LoadMethod("POST").LoadParams(new { ItemId = new JS("function () { return outputItemId; }") }).OnLoaded("gridDataLoaded"))
    .RemoteOperations(false)
    .ShowBorders(true)
    .ShowRowLines(true)
    .WordWrapEnabled(true)
    .Sorting(s => s.Mode(GridSortingMode.None))
    .Paging(p => p.PageSize(100))
    .Pager(p => p.Visible(false))
    .OnContentReady("gridContentReady")
    .Columns(columns =>
    {
        columns.AddFor(m => m.ItemName).Caption("Nguyên liệu").Width(125).Alignment(HorizontalAlignment.Left).AllowEditing(false).CellTemplate(new JS("itemCellTemplate"));
        columns.AddFor(m => m.Lot).Caption("Lô").Width(50).Alignment(HorizontalAlignment.Center).AllowEditing(true);
        columns.AddFor(m => m.Quantity).Caption("Số lượng").Width(60).Alignment(HorizontalAlignment.Right).CustomizeText("emptyZeroNumberCellText")
            .DataType(GridColumnDataType.Number) // Tells the grid to use dxNumberBox
            .Format("#,##0.00") // How the number displays outside of edit mode
            .EditorOptions(new { format = "#,##0.00", min = 0, max = 10000, step = 1, showSpinButtons = false });
        columns.AddFor(m => m.UnitName).Caption("").Width(40).Alignment(HorizontalAlignment.Left).AllowEditing(false);
        columns.AddFor(m => m.Soh).Caption("Tồn kho").Width(60).Alignment(HorizontalAlignment.Right).CellTemplate(new JS("sohCellTemplate")).Format("#,##0.00").AllowEditing(false);
        columns.AddFor(m => m.Note).Caption("Ghi chú").Width(140).Alignment(HorizontalAlignment.Left);
    })
    .Editing(e => e.AllowUpdating(true).Mode(GridEditMode.Batch).SelectTextOnEditStart(true))
    .OnEditorPreparing("onEditorPreparing")
    .RepaintChangesOnly(true)
)

<div id="bottom-buttons" class="pt-3 text-end">
    @(Html.DevExtreme().Button()
        .Text("Lưu")
        .Width(80)
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Icon("bi bi-download")
        .OnClick("save")
    )
</div>

<script>
    pageTitle = "Chế biến - @(Model.Item.ProcessingName)";
    goBackUrl = "/@(Model.SourceUrl)";
    let processingDate = new Date('@(DateTime.Today.ToString("yyyy-MM-dd"))');
    let outputItemId = @(Model.ItemId);
    let materialUseLot = false;

    $(function () {
        $("#main-grid").first().prepend($("#top-section"));
        $("#main-grid").first().append($("#bottom-buttons"));
    });

    function gridContentReady() {
        let cells = $(".dx-header-row > td");
        cells.css("text-align", "center");
    }

    function gridDataLoaded() {
        setTimeout(() => {
            updateDetailLots();
        }, 100)
    }

    function onEditorPreparing(e) {
        if (e.parentType === "dataRow") {
            e.editorOptions.valueChangeEvent = "keyup";
        }
    }

    function dateChanged(e) {
        processingDate = e.value;
        updateDetailLots();
    }

    function outputItemValueChanged(e) {
        outputItemId = e.value;

        var outputItem = e.component.option("selectedItem");
        // console.log(outputItem);
        $("#processing-desc").text(outputItem.ProcessingDesc ?? "");

        $("#main-grid").dxDataGrid("instance").refresh();
    }

    function updateDetailLots() {
        // let lot = processingDate.ddMM();
        materialUseLot = false;
        let grid = $("#main-grid").dxDataGrid("instance");
        let rows = grid.getVisibleRows();
        for (var i = 0; i < rows.length; i++) {
            let row = rows[i];
            console.log(row.data); // The raw data object for this row
            if (row.rowType == "data" && row.data.UseLot) {
                // grid.cellValue(i, "Lot", lot);
                materialUseLot = true;
                break;
            }
        }
        grid.columnOption("Lot", "visible", materialUseLot);
    }

    function sohCellTemplate(container, options) {
        container.html(`<a class='text-link' href='#' onclick='sohClicked(${options.rowIndex});'><span>${options.text}</span></a>`);
    }

    function itemCellTemplate(container, options) {
        let cssColor = cssColorForItemType(options.data.ItemType);
        displayCell(container, options, "●", cssColor);
    }

    function sohClicked(rowIndex) {
        let grid = $("#main-grid").dxDataGrid("instance");
        let soh = grid.cellValue(rowIndex, "Soh");
        grid.cellValue(rowIndex, "Quantity", soh);
    }

    function save() {
        let quantity = $("#quantityNumberBox").dxNumberBox("instance").option("value");
        if (quantity == null || quantity <= 0) {
            DevExpress.ui.dialog.alert("Hãy nhập vào Số lượng.", "Cảnh báo");
            return;
        }

        let grid = $("#main-grid").dxDataGrid("instance");
        // grid.saveEditData();

        var details = []
        let rows = grid.getVisibleRows();
        for (const row of rows) {
            if (row.rowType == "data" && row.data.Quantity > 0) {
                if (!row.data.IsOutput && row.data.Quantity > row.data.Soh) {
                    DevExpress.ui.dialog.alert(`[${row.data.ItemName + (row.data.Lot.length > 0 ? ' ' + row.data.Lot : '')}] Số lượng ${row.data.Quantity} vượt quá tồn kho ${row.data.Soh}.`, "Cảnh báo");
                    return;
                }
                details.push(row.data);
            }
        }
        console.log(details);

        if (details.length == 0) {
            DevExpress.ui.dialog.alert("Hãy nhập vào số lượng nguyên liệu.", "Cảnh báo");
            return;
        }

        DevExpress.ui.dialog.confirm("<i>Bạn có chắc chắn lưu thông tin chế biến?</i>", "Xác nhận").then(function(dialogResult) {
            if (dialogResult) {
                let date = $("#dateBox").dxDateBox("instance").option("value").toISOString();
                let time = $("#timeBox").dxDateBox("instance").option("text");

                $.ajax({
                    url: '@Url.Action("Save", "Processing")',
                    method: "POST",
                    data: { date: date, time: time, itemId: outputItemId, quantity: quantity, details: details },
                    success: function (result) {
                        DevExpress.ui.dialog.alert("Đã lưu dữ liệu chế biến.", "Thông báo").then(function(dialogResult) {
                            location.href = "/@(Model.SourceUrl)";
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log("xhr", xhr, "status", status, "error", error);
                        DevExpress.ui.dialog.alert("Có lỗi xảy ra. Vui lòng thử lại sau.", "Cảnh báo");
                    }
                });
            }
        });
    }
</script>