@page "/processing/new"
@using OcsStore.Models
@model OcsStore.Pages.NewProcessingModel
@{
}
<style>
    #gridProcessing .dx-header-row {
        font-size: 0.9rem;
    }

    #gridProcessing .dx-widget {
        font-size: 0.9rem;
    }

    #gridProcessing .delete-button .dx-button-content {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    #gridProcessing .dx-button-content .dx-icon-trash {
        margin-right: 2px;
    }
    #gridProcessing .dx-toolbar-items-container {
        display: none;
    }
    #timeBox {
        margin-left: 0.5rem;
    }
</style>
<div class="d-flex align-items-center mb-3">
    <a class="back-arrow" href="/processing?type=@(Model.Type)"><i class="dx-icon-arrowleft"></i></a>
    <h4>CHẾ BIẾN - @(Model.TypeName)</h4>
</div>
<div class="d-flex align-items-center mb-3">
    <span class="me-2">Ngày:</span>
    @(Html.DevExtreme().DateBox()
        .ID("dateBox")
        .Width("9rem")
        .Height("2rem")
        .InputAttr("aria-label", "Date")
        .Type(DateBoxType.Date)
        .Value(DateTime.Today)
        .DisplayFormat("dd/MM/yyyy")
        .OnValueChanged("dateChanged")
    )
    @(Html.DevExtreme().DateBox()
        .ID("timeBox")
        .Width("6rem")
        .Height("2rem")
        .Type(DateBoxType.Time)
        .Value(DateTime.Now)
        .DisplayFormat("HH:mm")
    )
</div>
<div class="d-flex align-items-center mb-3">
    <span class="me-2">Loại:</span>
    @(Html.DevExtreme().SelectBox()
        .ID("modelSelectBox")
        .Width("12rem")
        .Height("2rem")
        .DisplayExpr("Name")
        .ValueExpr("Id")
        .OnValueChanged("modelValueChanged")
    )
    <span id="model-description" class="ms-2"></span>
</div>
@(
Html.DevExtreme().DataGrid<ProcessingInputView>()
    .ID("gridProcessing")
    .DataSource(d => d.Mvc().Controller("Processing").LoadAction("GetNewDetails").LoadMethod("POST").LoadParams(new { Model = new JS("function () { return processingModel; }") }).OnLoaded("gridDataLoaded"))
    .RemoteOperations(false)
    .ShowBorders(true)
    .ShowRowLines(true)
    .WordWrapEnabled(true)
    .Sorting(s => s.Mode(GridSortingMode.None))
    .Paging(p => p.PageSize(100))
    .Pager(p => p.Visible(false))
    .OnContentReady("gridContentReady")
    .Columns(columns =>
    {
        columns.AddFor(m => m.ItemName).Caption("Hàng hóa").Width(110).Alignment(HorizontalAlignment.Left).AllowEditing(false).CellTemplate(new JS("processingCellTemplate"));
        columns.AddFor(m => m.Lot).Caption("Lô").Width(50).Alignment(HorizontalAlignment.Center).AllowEditing(true).CellTemplate(new JS("processingCellTemplate"));
        columns.AddFor(m => m.Quantity).Caption("Số lượng").Width(60).Alignment(HorizontalAlignment.Right).CellTemplate(new JS("processingCellTemplate"))
            .DataType(GridColumnDataType.Number) // Tells the grid to use dxNumberBox
            .Format("#,##0.00") // How the number displays outside of edit mode
            .EditorOptions(new { format = "#,##0.00", min = 0, max = 10000, step = 1, showSpinButtons = false });
        columns.AddFor(m => m.UnitName).Caption("").Width(40).Alignment(HorizontalAlignment.Left).AllowEditing(false).CellTemplate(new JS("processingCellTemplate"));
        columns.AddFor(m => m.Soh).Caption("Tồn kho").Width(60).Alignment(HorizontalAlignment.Right).CellTemplate(new JS("processingCellTemplate")).Format("#,##0.00").AllowEditing(false);
        columns.AddFor(m => m.Note).Caption("Ghi chú").Width(140).Alignment(HorizontalAlignment.Left).CellTemplate(new JS("processingCellTemplate"));
    })
    .Editing(e => e.AllowUpdating(true).Mode(GridEditMode.Batch))
    .OnEditorPreparing("onEditorPreparing")
    .RepaintChangesOnly(true)
)

<div id="divButtons" class="pt-3 text-end">
    @(Html.DevExtreme().Button()
        .Text("Lưu")
        .Width(80)
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Icon("save")
        .OnClick("save")
    )
</div>

<script>
    let processingDate = new Date('@(DateTime.Today.ToString("yyyy-MM-dd"))');
    let processingModel = 0;

    $(function () {
        $("#gridProcessing").first().append($("#divButtons"));
    });

    function gridContentReady() {
        let cells = $(".dx-header-row > td");
        cells.css("text-align", "center");
    }

    function gridDataLoaded() {
        setTimeout(() => {
            updateDetailLots();
        }, 100)
    }

    function onEditorPreparing(e) {
        if (e.parentType === "dataRow") {
            e.editorOptions.valueChangeEvent = "keyup";
        }
    }

    function dateChanged(e) {
        processingDate = e.value;
        updateDetailLots();
    }

    function modelValueChanged(e) {
        processingModel = e.value;

        var model = e.component.option("selectedItem");
        console.log(model);
        $("#model-description").text(model.Description);

        $("#gridProcessing").dxDataGrid("instance").refresh();
    }

    function updateDetailLots() {
        let lot = processingDate.ddMM();
        let grid = $("#gridProcessing").dxDataGrid("instance");
        let rows = grid.getVisibleRows();
        for (var i = 0; i < rows.length; i++) {
            let row = rows[i];
            console.log(row.data); // The raw data object for this row
            if (row.rowType == "data" && row.data.UseLot && row.data.IsOutput) {
                grid.cellValue(i, "Lot", lot);
            }
        }
    }

    function save() {
        let grid = $("#gridProcessing").dxDataGrid("instance");
        // grid.saveEditData();

        var details = []
        let rows = grid.getVisibleRows();
        for (const row of rows) {
            if (row.rowType == "data" && row.data.Quantity > 0) {
                if (!row.data.IsOutput && row.data.Quantity > row.data.Soh) {
                    DevExpress.ui.dialog.alert(`[${row.data.ItemName + (row.data.Lot.length > 0 ? ' ' + row.data.Lot : '')}] Số lượng ${row.data.Quantity} vượt quá tồn kho ${row.data.Soh}.`, "Cảnh báo");
                    return;
                }
                details.push(row.data);
            }
        }
        console.log(details);

        if (details.length == 0) {
            DevExpress.ui.dialog.alert("Hãy nhập vào chi tiết chế biến.", "Cảnh báo");
            return;
        }

        DevExpress.ui.dialog.confirm("<i>Bạn có chắc chắn lưu thông tin chế biến?</i>", "Xác nhận").then(function(dialogResult) {
            if (dialogResult) {
                let date = $("#dateBox").dxDateBox("instance").option("value").toISOString();
                let time = $("#timeBox").dxDateBox("instance").option("text");

                $.ajax({
                    url: '@Url.Action("Save", "Processing")',
                    method: "POST",
                    data: { date: date, time: time, model: processingModel, details: details },
                    success: function (result) {
                        DevExpress.ui.dialog.alert("Đã lưu dữ liệu chế biến.", "Thông báo").then(function(dialogResult) {
                            location.href = "/processing?type=@(Model.Type)";
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log("xhr", xhr, "status", status, "error", error);
                        DevExpress.ui.dialog.alert("Có lỗi xảy ra. Vui lòng thử lại sau.", "Cảnh báo");
                    }
                });
            }
        });
    }
</script>