@page "/receiving/new"
@using OcsStore.Models
@model OcsStore.Pages.NewReceivingModel
@{
}
<style>
</style>
<div id="top-section" class="d-flex align-items-center mb-3">
    <div class="d-flex mb-3">
        <div class="data-field">
            <div class="field-title">Ngày:</div>
            @(Html.DevExtreme().DateBox()
                .ID("dateBox")
                .Width("12rem")
                .Height("2rem")
                .InputAttr("aria-label", "Date")
                .Type(DateBoxType.Date)
                .Value(DateTime.Today)
                .DisplayFormat("dd/MM/yyyy")
                .DropDownOptions(o => o.Position(p => p.Of("#dateBox").At(HorizontalAlignment.Left, VerticalAlignment.Bottom).My(HorizontalAlignment.Left, VerticalAlignment.Top).Offset(0, 2)))
            )
        </div>
        <div class="data-field ms-3">
            <div class="field-title">Giờ:</div>
            @(Html.DevExtreme().DateBox()
                .ID("timeBox")
                .Width("8rem")
                .Height("2rem")
                .Type(DateBoxType.Time)
                .Value(DateTime.Now)
                .DisplayFormat("HH:mm")
            )
        </div>
    </div>
</div>
@(
Html.DevExtreme().DataGrid<ReceivingDetailView>()
    .ID("main-grid")
    .DataSource(d => d.Mvc().Controller("Receiving").LoadAction("GetNewDetails").LoadMethod("POST").LoadParams(new { ItemId = Model.Item }))
    .RemoteOperations(false)
    .ShowBorders(true)
    .ShowRowLines(true)
    .WordWrapEnabled(true)
    .Sorting(s => s.Mode(GridSortingMode.None))
    .Paging(p => p.PageSize(100))
    .Pager(p => p.Visible(false))
    .OnContentReady("gridContentReady")
    .Columns(columns =>
    {
        columns.AddFor(m => m.ItemName).Caption("Hàng hóa").Width(140).Alignment(HorizontalAlignment.Left).AllowEditing(false).CellTemplate(new JS("itemCellTemplate"));
        columns.AddFor(m => m.Quantity).Caption("Số lượng").Width(60).Alignment(HorizontalAlignment.Right).CustomizeText("emptyZeroNumberCellText")
            .DataType(GridColumnDataType.Number) // Tells the grid to use dxNumberBox
            .Format("#,##0.00") // How the number displays outside of edit mode
            .EditorOptions(new { format = "#,##0.00", min = 0, max = 10000, step = 1, showSpinButtons = false });
        columns.AddFor(m => m.UnitName).Caption("").Width(40).Alignment(HorizontalAlignment.Left).AllowEditing(false);
        columns.AddFor(m => m.Price).Caption("Giá").Width(80).Alignment(HorizontalAlignment.Right).CustomizeText("emptyZeroNumberCellText")
            .DataType(GridColumnDataType.Number) // Tells the grid to use dxNumberBox
            .Format("#,##0") // How the number displays outside of edit mode
            .EditorOptions(new { format = "#,##0", min = 0, max = 10000000, step = 1000, showSpinButtons = false });
        columns.AddFor(m => m.Soh).Caption("Tồn kho").Width(60).Alignment(HorizontalAlignment.Right).Format("#,##0.00").AllowEditing(false).CellTemplate(new JS("sohCellTemplate"));
        columns.AddFor(m => m.Note).Caption("Ghi chú").Width(140).Alignment(HorizontalAlignment.Left);
    })
    .Editing(e => e.AllowUpdating(true).Mode(GridEditMode.Batch).SelectTextOnEditStart(true))
)

<div id="bottom-buttons" class="pt-3 text-end">
    @(Html.DevExtreme().Button()
        .Text("Lưu")
        .Width(80)
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Icon("bi bi-download")
        .OnClick("save")
    )
</div>

<script>
    pageTitle = "Nhập kho";

    $(function () {
        $("#main-grid").first().prepend($("#top-section"));
        $("#main-grid").first().append($("#bottom-buttons"));
    });

    function gridContentReady() {
        let cells = $(".dx-header-row > td");
        // console.log(cells);
        cells.css("text-align", "center");
    }

    function sohCellTemplate(container, options) {
        let cssColor = (options.data.SohWarning ? "red" : "");
        container.html(`<div class='${cssColor}'>${options.text}</div>`);
    }

    function itemCellTemplate(container, options) {
        let cssColor = cssColorForItemType(1);
        displayCell(container, options, "●", cssColor);
    }

    function save() {
        let grid = $("#main-grid").dxDataGrid("instance");
        // grid.saveEditData();

        var details = []
        let rows = grid.getVisibleRows();
        for (const row of rows) {
            if (row.rowType == "data" && row.data.Quantity > 0) {
                if (row.data.Price <= 0) {
                    DevExpress.ui.dialog.alert(`Hãy nhập vào Giá cho sản phẩm '${row.data.ItemName}'.`, "Cảnh báo");
                    return;
                }
                details.push(row.data);
            }
        }
        console.log(details);

        if (details.length == 0) {
            DevExpress.ui.dialog.alert("Hãy nhập vào chi tiết nhập kho.", "Cảnh báo");
            return;
        }

        DevExpress.ui.dialog.confirm("<i>Bạn có chắc chắn lưu thông tin nhập kho?</i>", "Xác nhận").then(function(dialogResult) {
            if (dialogResult) {
                let date = $("#dateBox").dxDateBox("instance").option("value").toISOString();
                let time = $("#timeBox").dxDateBox("instance").option("text");

                $.ajax({
                    url: '@Url.Action("Save", "Receiving")',
                    method: "POST",
                    data: { date: date, time: time, details: details },
                    success: function (result) {
                        DevExpress.ui.dialog.alert("Đã lưu dữ liệu nhập kho.", "Thông báo").then(function(dialogResult) {
                            location.href = goBackUrl;
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log("xhr", xhr, "status", status, "error", error);
                        DevExpress.ui.dialog.alert("Có lỗi xảy ra. Vui lòng thử lại sau.", "Cảnh báo");
                    }
                });
            }
        });
    }
</script>